<header>
  <!-- Side Nav Start -->
  <nav class="side-nav">
    <div class="container">
      <!-- Logo Btn Start -->
      <div class="logo-btn">
        <!-- Logo Start -->
        <div class="logo">
          <a href="/"><img src="/img/logo/logo.png" alt="Logo" /></a>
        </div>
        <!-- Logo End -->
        <!-- Manu Btn Start -->
        <button class="manu-btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <!-- Manu Btn End -->
      </div>
      <!-- Logo Btn End -->
      <!-- Main Manu Start -->
      <div class="main-manu">
        <div class="overlay"></div>
        <ul>
          <li>
            <!-- <a href="/" class="active"> -->
            <a href="/">
              <i class="fas fa-home"></i>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="/portfolio"
              ><i class="fas fa-briefcase"></i>
              <span>Portfolio</span>
            </a>
          </li>
          <li>
            <a href="/about"
              ><i class="fas fa-file-invoice"></i>
              <span>About</span>
            </a>
          </li>
          <li>
            <a href="/resume"
              ><i class="fas fa-table"></i>
              <span>Resume</span>
            </a>
          </li>
          <li>
            <a href="/services"
              ><i class="fas fa-th"></i>
              <span>Services</span>
            </a>
          </li>
          <li>
            <a href="/blogs"
              ><i class="fab fa-blogger-b"></i>
              <span>Blog</span>
            </a>
          </li>

          <li>
            <a href="/contact"
              ><i class="fas fa-phone-alt"></i>
              <span>Contact</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- Main Manu End -->

      <!-- Social Item Start -->
      <div class="social-item">
        <span class="social-title">Social</span>
        <ul>
          <li>
            <a
              href="https://www.linkedin.com/in/abdulladif-roble-892681118/"
              target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/ARoble" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/roble_0042" target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li>
            <a href="/login"><i class="fas fa-sign-in-alt"></i></a>
          </li>
        </ul>
      </div>
      <!-- Social Item End -->
    </div>
  </nav>
  <!-- Side Nav End -->
</header>
